

<div class="banner-wrapper">
  <div class="banner-content">
    <h1>Go Bark!</h1>
    <p>Want to borrow a pet?</p>
    <a href="/pets/new" class="btn btn-primary btn-lg">Add your pet!</a>
  </div>
  <div id="background-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(http://www.catbreedslist.com/cat-wallpapers/American-Shorthair-kitten-Cute-look-up-1280x1024.jpg)"></div>
        <div class="item" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://images7.alphacoders.com/339/thumb-1920-339654.jpg)"></div>
        <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://i.imgur.com/z9LvPb9.jpg)"></div>
        <div class="item" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.5) 0%, rgba(0,36,61,0.5) 50%), url(https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"></div>
      </div>
    </div>
  </div>
</div>





<div class = 'container'>
  <div class = 'row' id='list'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='new-form'>
      <%= form_tag pets_path(anchor: 'list'), method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          placeholder: "Find a pet",
          class: 'form-controle'
        %>
        <%= select_tag :specie, "<option>Dog</option><option>Cat</option><option>Bird </option><option>Reptile</option><option>Dragon</option><option>Unicorn</option>", include_blank: true%>
        <%= submit_tag "Search cuteness"%>
      <% end %>
      </div>
    </div>

    <% @pets.each do |pet| %>
    <div class = 'col-sm-4'>
      <a href="/pets/<%= pet.id %>" style = "text-decoration: none">
        <div class = 'petcard' style = "background-image: url(<%= cl_image_path pet.photo, :gravity=>'faces' %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              <p> <%= pet.name %> </p>
              <% pet.average.times do  %>
                <i class='fas fa-star fa-xs'></i>
              <% end %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
      <% if user_signed_in? && current_user.admin %>
      <%= link_to 'List of All Users (admin)', users_path, class: "btn btn-primary" %>
    <% end %>
</div>

