<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="pet-name">
        <h1>
          <%=@pet.name%>
        </h1>
        <h3>
          <% if policy(@pet).edit? %>
            <%= link_to ("<i class='fas fa-edit'></i>").html_safe, edit_pet_path %>
          <% end  %>
          <% if policy(@pet).destroy? %>
            <%= link_to ("<i class='fas fa-trash-alt'></i>").html_safe, pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </h3>
      </div>
      <div class="description">
       <p><%= @pet.description %></p>
       <p> <%= @pet.price%> <i class="fas fa-euro-sign"></i> </p>
       <p> <%= @pet.user.name%>
        <span class="avatar"> <%= @pet.user.photo %> </span>
       </p>
       <% unless @pet.specie.nil? %>
       <p>Specie : <i class="fas fa-<%=@pet.specie.downcase%>"></i></p>
       <% end  %>
       <p>Breed : <%= @pet.breed.capitalize %></p>
       <p> <% @pet.reviews.each do |review| %>
         <p><% review.rating.times do %>
         <i class='fas fa-star'></i>
         <% end %> ----
         <%= review.description %></p>
         <% end  %>
       </p>
      </div>
      <div class="review-form">
        <%= simple_form_for [@pet, @review] do |f| %>
          <%= f.input :rating %>
          <%= f.input :description %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">
      <div class="pet-pics" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path @pet.photo, height: 400, width: 400 %>)">>
    </div>
  </div>


  <div class="row">

  </div>
</div>

