<div class="introduction">
  <div class="pet-name">
    <div class = "pet-name-text">
      <%=@pet.name%><br>
      <% @average.times do  %>
        <i class='fas fa-star fa-xs'></i>
      <% end %><br>
      <% if policy(@pet).edit? || current_user.admin %>
        <%= link_to ("<i class='fas fa-edit'></i>").html_safe, edit_pet_path %>
      <% end  %>
      <% if policy(@pet).destroy? || current_user.admin %>
        <%= link_to ("<i class='fas fa-trash-alt'></i>").html_safe, pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
  <div class="picture" style = 'background-image: url(<%= cl_image_path @pet.photo %>);'></div>
</div>

<div class = 'pet-information'>
  <div class = 'pet-informartion-title'>Description</div>
  <div class = pet-informartion-general>
    <div class="container">
      <div class = 'row'>
        <div class = 'col-xs-12 col-sm-6'>
          <h3>Description of the pet: </h3>
          <%= @pet.description %>
        </div>

        <div class = 'col-sm-6'>
          <div class="pet-owner">
            <h3>The owner:</h3>
            <% if @pet.user.avatar? %>
              <img src="<%=  cl_image_path (@pet.user.avatar) %>" alt="" class="avatar">
              <%=link_to @pet.user.name, user_path(@pet.user) %>
            <% else %>
              <%=link_to @pet.user.name, user_path(@pet.user) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class = 'row'>

      <div class = 'col-sm-4'>
        <div class = pet-description-circle>
          <% unless @pet.specie.nil? %>
            <h3> Specie : </h3>
            <i class="fas fa-<%=@pet.specie.downcase%>"></i>
          <% end  %>
        </div>
      </div>

      <div class = 'col-sm-4'>
        <div class = pet-description-circle>
          <h2> Price: </h2>
          <%= @pet.price%> <i class="fas fa-euro-sign"></i> / day
        </div>
      </div>

      <div class = 'col-sm-4'>
        <div class = pet-description-circle>
          <h3> Breed : </h3>
          <%= @pet.breed.capitalize %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = 'picture-dog-animal <%= @pet.specie %>1'></div>

<div class = 'pet-information'>
  <div class = 'pet-informartion-title'>Reviews</div>
  <div class = pet-informartion-general>
    <% @pet.reviews.each do |review| %>
      <% review.rating.times do %>
        <i class='fas fa-star'></i>
      <% end %>
      <%= review.description %> (<%= review.user.name %>)<br>
    <% end  %>
  </div>
</div>

<div class="row" style = "text-align: center;">
  <div class="col-md-8 col-sm-offset-2">
    <div class="review-form" style = 'margin: 30px 0;'>
      <% if user_signed_in? %>
        <% if policy(@pet).edit? %>
        You cannot rate your own pet you sick fuck
        <% else %>
          <%= simple_form_for [@pet, @review] do |f| %>
            <%= f.error_notification %>
            <%= f.input :rating %>
            <%= f.input :description %>
            <%= f.submit %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class = 'picture-dog-animal <%= @pet.specie %>2'></div>

<div class = 'pet-information'>
  <div class = 'pet-informartion-title'>Rent the Pet?</div>
  <div class = 'pet-informartion-general'>
    <% if user_signed_in? %>
      <%contracts = current_user.contracts.map do |c| %>
          <% c.pet %>
        <% end  %>
        <% if policy(@pet).edit? %>
          <% @pet.contracts.each do |contract| %>
            <p> is rented from <%= contract.start_date.strftime("%d/%m/%Y") %> to <%= contract.end_date.strftime("%d/%m/%Y") %> </p>
          <% end %>
        <% end  %>
        <% if contracts.include? @pet %>
          <% cont = current_user.contracts.select {|cont| cont.pet == @pet} %>
          <% cont.each do |c|  %>
            You rented this pet from <%= c.start_date.strftime("%d/%m/%Y") %> to the <%= c.end_date.strftime("%d/%m/%Y") %>
            <br>
          <% end  %>
        <% end %>
      <% end %>
  </div>
</div>

<div class="row" style = "text-align: center;">
  <div class="col-md-4 col-sm-offset-4">
    <div class="contract-form" style = 'margin-top: 20px;'>
      <% if user_signed_in? %>
        <%= simple_form_for [@pet, @contract] do |f| %>
          <% if @contract.errors.any? %>
            <% @simulation.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <% end %>
          <%= f.input :start_date, :input_html => { :value => DateTime.now.strftime("%d/%m/%Y")}, :as => :string %>
          <%= f.input :end_date, :input_html => { :value => DateTime.now.strftime("%d/%m/%Y ")}, :as => :string %>
            <%= f.submit %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





<div class="col-md-8">
  <div class="pet-pics" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
     url(<%= cl_image_path @pet.photo %>)">
</div>



