<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class = 'welcome'>
  <div class = 'title-welcome'>
    <h1>Welcome <%= @user.name %>!</h1>
  </div>
</div>

<div class = 'information'>
  <div class = 'user-image' style="background-image: url(<%= cl_image_path (current_user.avatar) if current_user.avatar? %>)"> </div>
  <div class = 'user-description'>
    <div class = 'title'>
      <h2>Your Personal info</h2>
    </div>
    <div class = 'details'>
      <h4> <strong>First Name:</strong> <%= @user.name %></h4>
      <h4> <strong>Last Name:</strong> <%= @user.last_name %></h4>
      <h4> <strong>Phone Number:</strong> <%= @user.phone_number %></h4>
      <h4> <strong>Email address:</strong> <%= @user.email %> </h4>
      <h4> <strong>Home Address:</strong> <%= @user.address %> </h4>
      <h4>
        <strong>Average Rating:</strong>
        <% @average.times do%>
          <i class='fas fa-star'></i>
        <% end %>
      </h4>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).destroy? %>
        <%= link_to 'Delete Your Profile', user_registration_path(current_user), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?, all your pets and reviews will be deleted. You will lose all the cuteness" }  %>
      <% end %>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).update? %>
      <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class = 'picture-dog'>

</div>

<div class = 'pets'>
  <div class="row">
    <div class="col-sm-12">
      <h2 style = "text-align: center;"> Your Pets </h2>
    </div>
    <% @user.pets.each do |pet| %>
      <div class = 'col-sm-4'>
        <a href="/pets/<%= pet.id %>" style = "text-decoration: none">
          <div class = 'petcard' style = "background-image: url(<%= cl_image_path pet.photo %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              <%= pet.name %>
              <% pet.contracts.sort.take(1).each do |contract| %>
              is rented from <%= contract.start_date.strftime("%d/%m/%Y") %> to <%= contract.end_date.strftime("%d/%m/%Y") %>
              <% end %>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>

<div class = 'picture-dog-bottom'>
  </div>

  <div class = 'pets'>
  <div class="row">
    <div class="col-sm-12">
      <h2 style = "text-align: center;"> Your Contracts </h2>
    </div>
    <% @user.contracts.each do |contract| %>
      <div class = 'col-sm-4'>
        <a href="/pets<%contract.pet.id %>" style = "text-decoration: none">
          <div class = 'petcard' style = "background-image: url(<%= cl_image_path contract.pet.photo %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              You rented <%= contract.pet.name %>
              from <%= contract.start_date.strftime("%d/%m/%Y") %> to <%= contract.end_date.strftime("%d/%m/%Y") %>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>


