<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class = 'welcome'>
  <div class = 'title-welcome'>
    <h1> <%= @user.name %>'s profile!</h1>
  </div>
</div>

<div class = 'information'>
  <div class = 'user-image' style="background-image: url(<%= cl_image_path (@user.avatar) if @user.avatar? %>)"> </div>
  <div class = 'user-description'>
    <div class = 'title'>
      <h2>Personal info</h2>
    </div>
    <div class = 'details'>
      <h4> <strong>First Name:</strong> <%= @user.name %></h4>
      <h4> <strong>Last Name:</strong> <%= @user.last_name %></h4>
      <% if @user == current_user %>
        <h4> <strong>Phone Number:</strong> <%= @user.phone_number %></h4>
        <h4> <strong>Email address:</strong> <%= @user.email %> </h4>
        <h4> <strong>Home Address:</strong> <%= @user.address %> </h4>
      <% end %>
      <h4>
        <strong>Average Rating:</strong>
        <% @user.average.times do%>
          <i class='fas fa-star'></i>
        <% end %>
      </h4>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).destroy? || current_user.admin %>
        <%= link_to 'Delete Profile', user_registration_path(current_user), class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure?, all your pets and reviews will be deleted. You will lose all the cuteness" }  %>
      <% end %>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).update? || current_user.admin %>
      <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class = 'picture-dog'></div>

<div class = 'pets'>
  <div class="row">
    <div class="col-sm-12">
      <h2 style = "text-align: center;"> <%= @user.name %>'s Pets </h2>
    </div>
    <% @user.pets.each do |pet| %>
      <div class = 'col-sm-4'>
        <a href="/pets/<%= pet.id %>" style = "text-decoration: none">
          <div class = 'petcard' style = "background-image: url(<%= cl_image_path pet.photo, :gravity=>'faces' %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              <%= pet.name %>
              <br>
              <% pet.contracts.sort.take(1).each do |contract| %>
                 <%= contract.start_date.strftime("%d/%m/%Y")%> to <%= contract.end_date.strftime("%d/%m/%Y") %> <br> <%= contract.price(contract.pet) %> €
                <br>
                Renter : <%= contract.user.name %>
                  <img src="<%=  cl_image_path (contract.user.avatar) if contract.user.avatar? %>" alt="" class="avatar" >
              <% end %>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>

<div class = 'picture-dog-bottom'></div>

<div class = 'pets'>
  <div class="row">
    <% if @user == current_user || current_user.admin %>
      <div class="col-sm-12">
        <h2 style = "text-align: center;"> Your Contracts </h2>
      </div>
      <% @user.contracts.each do |contract| %>
        <div class = 'col-sm-4'>
          <a href="/pets/<%= contract.pet.id %>" style = "text-decoration: none">
            <div class = 'petcard' style = "background-image: url(<%= cl_image_path contract.pet.photo, :gravity=>'faces'%>);">
              <div class = 'petcard-image'></div>
              <div class = 'petcard-description'>
                <div class = 'petcard-name'>
                  <%= contract.pet.name %>
                  <br>
                  <%= contract.start_date.strftime("%d/%m/%Y") %> to <%= contract.end_date.strftime("%d/%m/%Y") %>
                  <br>
                  <%= contract.price(contract.pet) %>€
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


