<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class = 'welcome'>
  <div class = 'title-welcome'>
    <h1>Welcome <%= @user.name %>!</h1>
  </div>
</div>

<div class = 'information'>
  <div class = 'user-image'></div>
  <div class = 'user-description'>
    <div class = 'title'>
      <h2>Your Personal info</h2>
    </div>
    <div class = 'details'>
      <h4> <strong>First Name:</strong> <%= @user.name %></h4>
      <h4> <strong>Last Name:</strong> <%= @user.last_name %></h4>
      <h4> <strong>Phone Number:</strong> <%= @user.phone_number %></h4>
      <h4> <strong>Email address:</strong> <%= @user.email %> </h4>
      <h4> <strong>Home Address:</strong> </h4>
      <h4> <strong>Average Rating:</strong> </h4>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).destroy? %>
      <a href="#" class = 'btn-primary btn'> Delete Profile </a>
      <% end %>
    </div>
    <div class = 'col-sm-6'>
      <% if policy(@user).update? %>
      <a href="#" class = 'btn-primary btn'> Edit Profile </a>
      <% end %>
    </div>
  </div>
</div>

<div class = 'picture-dog'>

</div>

<div class = 'pets'>
  <div class="row">
    <div class="col-sm-12">
      <h2 style = "text-align: center;"> Your Pets </h2>
    </div>
    <% @user.pets.each do |pet| %>
      <div class = 'col-sm-4'>
        <a href="/pets/<%= pet.id %>" style = "text-decoration: none">
          <div class = 'petcard' style = "background-image: url(<%= cl_image_path pet.photo %>);">
          <div class = 'petcard-image'></div>
          <div class = 'petcard-description'>
            <div class = 'petcard-name'>
              <%= pet.name %>
            </div>
          </div>
        </div>
      </a>
    </div>
  <% end %>
  </div>
</div>

<div class = 'picture-dog-bottom'>

</div>
