<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Go Bark</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <div class = 'navbar-wagon'>
      <a href="/" class="navbar-wagon-brand">
        <i class="fas fa-dog fa-2x"></i>
      </a>

      <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="/pets/new" class="navbar-wagon-item navbar-wagon-link">Add a Pet</a>
        <form class="form-inline my-2 my-lg-0" action="search" method="get">
          <input class="form-control mr-sm-2" type="search" name="tag" placeholder="Search" aria-label="Search">
        </form>
        <div class="navbar-wagon-item">
          <% if user_signed_in? %>
            <div class="dropdown">
              <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
              </ul>
              <p><%= current_user.name %></p>
            </div>
          <% else %>
            <%= link_to 'Sign in', new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
      <div class="footer-copyright">
        This site was developed with <i class="fas fa-heart"></i> by the Go Bark team!
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
